@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Safari 和 Chrome */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "ProtoMono-Regular";
  src: url('../../public/fonts/ProtoMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-protomono {
  font-family: "ProtoMono-Regular", sans-serif;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
